<main id="user-enrollment">
  <h1>Tell us about yourself!</h1>
  <%= form_for new_user, method: :create do |f| %>
    <%= tag.img src: new_user.avatar_image, class: "avatar_preview" %>

    <%= f.label :full_name %>
    <%= f.text_field :full_name %><br>

    <%= f.label :email %>
    <%= f.text_field :email %>

    <section class="about">
      <%= f.label :about %><br>
      <%= f.text_area :about %>
    </section>

    <%= f.submit 'Sign Up' %>
  <% end %>
</main>
