<%= link_to 'Add Project', new_admin_project_path %>

  <h1>Your Current Projects</h1>

  <% @projects.each do |project| %>
  <section class="project-<%= project.id %>">
    <h3><%= project.title %></h3>
    <time datetime="<%= project.date %>"><%= project.date.strftime('%A, %b %-d, %Y') %></time>
    <div id="info-<%= project.id %>">
      <p>
        <%= project.location.line_1 %><br>
        <%= project.location.line_2 %><br>
        <%= project.location.city %>,
        <%= project.location.state %>
        <%= project.location.zip %>
      </p>
      <h4>Project Description</h4>
      <span><%= project.description%></span>
    </div>
    </section>
  <% end %>
