<main id="carpool">
<h1>Carpool for <%= facade.project_name %></h1>

<section class='map'>
  <div id='map' style='width: 400px; height: 300px;'></div>
    <script>
      mapboxgl.accessToken = '<%= ENV['MAPBOX_TOKEN'] %>';
      var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/outdoors-v11',
        center: <%= facade.center_coord(current_user) %>,
        zoom: 15
      });

      map.on('load', function () {

        map.addLayer({
          "id": "route",
          "type": "line",
          "source": {
            "type": "geojson",
            "data": {
              "type": "Feature",
              "properties": {},
              "geometry": {
                "type": "LineString",
                "coordinates": <%= facade.coord_format(current_user) %>
              }
            }
          },
          "layout": {
            "line-join": "round",
            "line-cap": "round"
          },
          "paint": {
            "line-color": "#888",
            "line-width": 5
          }
        });
        map.fitBounds(<%= facade.bounding_coords(current_user) %>, {
          padding: 20,
          animate: false
        })
      });
    </script>
</section>
<section class="attendees">
  <h3>Driver: <%= facade.driver_name %> -
    <a href="mailto://<%= facade.driver_email %>"><%= facade.driver_email %></a>
  </h3>
  <ul>
    <h3>Passengers:</h3>
    <% facade.passengers.each do |passenger| %>
      <li><%= passenger.full_name %> -
        <a href="mailto://<%= passenger.email %>"><%= passenger.email %></a>
      </li>
    <% end %>
  </ul>
</section>
<main>
