<h1> All Projects </h1>
<section class='sorting'>
<%= link_to 'Alphabetical', root_path(sort_by: 'a-z') %>
<%= link_to 'Needs Driver', root_path(sort_by: 'needs_driver') %>
</section>

<div class='projects'>
  <% @projects.each do |project| %> 
  <section class="project-<%= project.id %> project-card">
    <ul id="info-<%= project.id %>">
    <p><%= project.title %></p>
    <img class"thumbnail" src= <%= "#{project.image}" %> alt="", width="200" height="200">
      <li><%= project.date %></li>
      <li><%= project.location.line_1 %></li>
      <li><%= project.location.line_2 %></li>
      <li><%= project.location.city %>, <%= project.location.state %></li>
      <li><%= project.location.zip %></li>
      <li><%= project.description%></li>
    </ul>
    <section id="join_button-<%= project.id %>"><%= button_to 'Join Carpool' %>
    </section>
  </section>
  <% end %>
</div>