<h1> All Projects </h1>

<div class='projects'>
  <% @projects.each do |project| %>
  <section class="project-<%= project.id %>">
    <ul id="info-<%= project.id %>">
      <li><%= project.title %></li>
      <li><%= project.date %></li>
      <li><%=image_tag(project.image)%></li>
      <li><%= project.image %></li>
      <li><%= project.location_id %></li>
      <li><%= project.description%></li>
    </ul>
    <section id="join_button-<%= project.id %>"><%= button_to 'Join Carpool' %>
    </section>
  </section>
  <% end %>
</div>