<main id="project-page">
<section class='project-show-card'>
   <h1>Project: <%= facade.title %></h1>
   <img src="<%= facade.image %>" alt="Picture of <%= facade.title %> site">
   <h2>Project Date: <%= facade.date %></h2>
   <p>Project Details: <%= facade.description %></p>
   <%= link_to 'See this on google maps' %>
</section>

<section class='map'>
  <div id='map' style='width: 400px; height: 300px;'></div>
  <script>
    mapboxgl.accessToken = '<%= ENV['MAPBOX_TOKEN'] %>';
    var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/outdoors-v11',
      center: <%= facade.coordinates %>,
      zoom: 13,
    });
    map.on('load', function() {
      map.loadImage('https://upload.wikimedia.org/wikipedia/commons/thumb/6/60/Cat_silhouette.svg/400px-Cat_silhouette.svg.png', function(error, image) {
        if (error) throw error;
          map.addImage('cat', image);
          map.addLayer({
            "id": "points",
            "type": "symbol",
            "source": {
              "type": "geojson",
              "data": {
                "type": "FeatureCollection",
                "features": [{
                  "type": "Feature",
                  "geometry": {
                    "type": "Point",
                    "coordinates": <%= facade.coordinates %>
                  }
                }]
              }
            },
          "layout": {
          "icon-image": "cat",
          "icon-size": 0.25
          }
        });
      });
    });
  </script>
</section>
<% if current_user %>
  <section class='drivers'>
    <%= button_to 'Become a Driver', projects_create_carpool_path %>
    <% unless facade.no_rides? %>
      <section class='carpools'>
        <% facade.carpools.each do |carpool| %>
          <section class='carpool-<%= carpool.id %>'>
            <h3>Driver: <%= carpool.driver_name %></h3>
            <% if current_user.in_carpool?(carpool) %>
              <p><%= link_to 'View Carpool', carpool_path(carpool) %></p>
            <% end %>
            <h4>Available Seats: <%= carpool.available %> of <%= carpool.seats %></h4>
              <section class='passengers'>
                <p>Passengers:</p>
                <ul>
                <% carpool.passengers.each do |passenger| %>
                  <li><%= link_to passenger.full_name %></li>
                <% end %>
                </ul>
                <% unless facade.check_carpool(carpool, current_user) %>
                  <%= button_to 'Catch a Ride', projects_carpool_update_path(carpool_id: carpool.id) %>
                <% end %>
            </section>
          </section>
        <% end %>
      </section>
      <% end %>
  </section>
<% else %>
  <h3><%= link_to 'Sign in' %> to become a Driver or join a Carpool!</h3>
<% end %>
</main>
