<section class='project-show-card'>
   <h1>Project: <%= facade.title %></h1>
   <img src="<%= facade.image %>" alt="Picture of <%= facade.title %> site">
   <h2>Project Date: <%= facade.date %></h2>
   <p>Project Details: <%= facade.description %></p>
   <%= link_to 'See this on google maps' %>
</section>
<section class='drivers'>
  <%= button_to 'Become a Driver' %>
</section>
