<main id="user-profile">
  <section id="user-info">
    <img class="avatar" src="<%= user.avatar_image %>">
    <span class="name"><%= user.full_name %></span><br>
    <span class="email"><%= user.email %></span>
    <article class="about"><%= user.about %></article>
  </section>

  <section id="owned-things">
    <section id="addresses">
      <h3>Pickup/Dropoff Addresses</h3>
    <% user.addresses.each do |address| %>
      <article class="address <%= " default" if address.default? %>">
        <span class="line-1"><%= address.line_1 %></span><br>
        <% if address.line_2 && address.line_2.length > 0 %><span class="line-2"><%= address.line_2 %></span><br><% end %>
        <span class="city"><%= address.city %></span>,
        <span class="state"><%= address.state %></span>
        <span class="zip"><%= address.zip %></span>
        <% unless address.default? %>
        <%= button_to 'Make Default', user_address_path(user, address), method: :patch %>
        <% end %>
      </article>
    <% end %>
    <button id="add-an-address">Add an Address</button>
    </section>

    <section id="vehicles">
      <h3>Vehicles</h3>
    <% user.vehicles.each do |vehicle| %>
      <article class="vehicle<%= " default" if vehicle.default? %>">
        <span class="color"><%= vehicle.color %></span>
        <span class="year"><%= vehicle.year %></span>
        <span class="make"><%= vehicle.make %></span>
        <span class="model"><%= vehicle.model %></span><br>
        <span class="fuel-efficiency"><%= vehicle.fuel_efficiency %> <%= vehicle.fuel_efficiency_unit %></span>
        <span class="fuel-type"><%= vehicle.fuel_type %></span><br>
        <span class="passenger_limit">Passenger Limit: <%= vehicle.passenger_limit %></span>
        <% unless vehicle.default? %>
        <%= button_to 'Make Default', user_vehicle_path(user, vehicle), method: :patch %>
        <% end %>
      </article>
    <% end %>
    <button id="add-a-vehicle">Add a Vehicle</button>
    </section>
  </section>

  <div id="new-address" class="modal hidden">
    <%= render partial: 'shared/address_form', locals: { user: user } %>
  </div>

  <div id="new-vehicle" class="modal hidden">
    <%= render partial: 'shared/vehicle_form', locals: { user: user } %>
  </div>
  <script type="text/javascript">
    let newAddressForm = document.getElementById('new-address')
    document.getElementById('add-an-address').addEventListener('click', function(){
      toggleHidden(newAddressForm)
      map.resize()
    })
    newAddressForm.addEventListener('click', function(e){
      if(e.target == this){
        toggleHidden(this)
      }
    })

    let newVehicleForm = document.getElementById('new-vehicle')
    document.getElementById('add-a-vehicle').addEventListener('click', function(){
      toggleHidden(newVehicleForm)
    })
    newVehicleForm.addEventListener('click', function(e){
      if(e.target == this){
        toggleHidden(this)
      }
    })
  </script>
</main>
