<main id="user-profile">
  <section id="user-info">
    <img class="avatar" src="<%= user.avatar_image %>">
    <span class="name"><%= user.full_name %></span>
    <span class="email"><%= user.email %></span>
    <article class="about"><%= user.about %></article>
  </section>

  <section id="addresses">
  <% user.addresses.each do |address| %>
    <article class="address <%= " default" if address.default? %>">
      <span class="line-1"><%= address.line_1 %></span><br>
      <span class="line-2"><%= address.line_2 %></span><br>
      <span class="city"><%= address.city %></span>,
      <span class="state"><%= address.state %></span>
      <span class="zip"><%= address.zip %></span>
      <% unless address.default? %>
      <%= button_to 'Make Default', user_address_path(user, address), method: :patch %>
      <% end %>
    </article>
  <% end %>
  </section>
</main>
